/* My Project */

.blog h1 {
    margin: 30px;
    text-align: center;
}

.addmyproject {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.addmyproject h1 {
    margin-top: 30px;
}

.formmyproject {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.formmyproject div {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.formmyproject div input {
    border-radius: 3px;
    border-style: none;
    box-shadow: 0px 0px 3px;
}

.formmyproject .date {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.formmyproject div textarea {
    height: 70px;
    border-radius: 3px;
    border-style: none;
    box-shadow: 0px 0px 3px;
}

.formmyproject .checkbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
} 

.formmyproject .checkbox div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.checkbox label {
    color: #5d5d5d;
}

.checkbox1 input {
    height: max-content;
    align-self: center;
}

.checkbox2 input {
    height: max-content;
    align-self: center;
}

.button2 {
    display: flex;
    align-items: end;
}

.button2 button {
    background-color: #111727;
    color: white;
    border-radius: 30px;
    border-style: none;
    padding: 5px;
    width: 100px;
}

.inputimage {
    display: flex;
    background-color: white;
    border-radius: 0.3rem;
}

.inputimage label {
    display: inline-block;
    background-color: lightgrey;
    color: rgb(88, 88, 88);
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    width: fit-content;
}


/* container */

.pembungkus-container {
    background-color: white;
    padding: 80px;
}

.pembungkus-container h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}




/* projectlist */



.project {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
}

.project1 {
    background-color: white;
    box-shadow: 0px 0px 10px;
    width: 300px;
    height: 500px;
    margin: 30px;
    padding: 10px;
}

.project1 img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}

.project1 h5 {
    font-size: small;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    height: 7em;
    width: 100%;
    margin-top: 20px;
}

.project1 .icon {
    font-size: 25px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}

.btn button {
    width: 50%;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 0px 5px;
    background-color: #111727;
    color: white;
    padding: 5px;
    cursor: pointer;
}

#apaa {
    text-decoration: none;
    color: black;
}




/* tablet */

@media only screen and (max-width: 850px) {
    .project {
        grid-template-columns: auto auto;
    }

    
}


/* phone */

@media only screen and (max-width: 450px) {
    .blog h1 {
        margin: 10px;
        font-size: 20px;
    }
    .pembungkus-container h1{
        font-size: 20px;
    }
    .project {
        grid-template-columns: auto auto;
    }

    .project1 {
        width: 160px;
        height: 250px;
        margin: 10px;
    }

    .project1 img {
        height: 125px;
        margin-bottom: 5px;
    }

    .btn button {
        gap: 5px;
    }

    .project1 h3 {
        font-size: 9px;
    }

    .project1 h6 {
        font-size: 5px;
    }

    .project1 h5 {
        font-size: 7px;
        margin-top: 5px;
    }

    .project1 .icon {
        font-size: 11px;
        margin-top: 3px;
    }

    .btn button {
        padding: 2px;
        font-size: 8px
    }
}
