@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body{
    background-color: #E2E6EA;
}

nav {
    display: flex;
    background-color: #dbdbdb;
    padding: 0 40px;
}

nav ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    gap: 50px;
    align-items: center;;
}


nav ul li img {
    width: 35px;
    height: 30px;
    object-fit: contain;
    padding-top: 7px;
    margin-left: 10px;
}

nav ul li a {
    display: flex;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    font-weight: bolder;
}

nav ul li button {
    border-radius: 10px;
    border-style: none;
    padding: 7px;
    color: white;
    background-color: #111727;
    margin-right: 30px;
    cursor: pointer;
}

.navright { 
    display: flex;
    justify-content: right;
    margin-right: 20px;
}










