/*form*/

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
}

h1 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form div select {
    width: 500px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px;
    border-style: none;
    gap: 20px;
    user-select: auto;
}

.form div input {
    width: 500px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px;
    border-style: none;
    gap: 20px;
}

.form div label {
    font-size: larger;
    font-weight: bolder;
}

.form div textarea {
    width: 500px;
    height: 80px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px;
    border-style: none;
}

.form div button {
    box-shadow: 0px 0px 2px;
    width: 100px;
    border-style: none;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #111727;
    color: white;
    cursor: pointer;
}

.button {
    display: flex;
    align-items: end;
}

/* phone */ 

@media only screen and (max-width: 450px) {
    .form div input {
        width: 300px;
    }

    .form div select {
        width: 300px
    }

    .form div textarea {
        width: 300px
    }

    .contact-form {
        padding: 0%;
        gap: 0px;
    }

    .form {
        gap: 0px;
    }

    .form div label {
        font-size: smaller;
        font-weight: bold;
    }

    h1 {
        font-size: 20px;
    }

    
}