.card:hover{
    transform: scale(1.05);
    transition: .2s;
}

.card{
    border-style: none;
}

@media only screen and (max-width: 450px){
    #ratingbutton{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-left: 15px !important;
    }

    #ratingbutton button{
        font-size: 14px;
    }
}